body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#f4fd03, #bf0eb4);
}

.days {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 30vh;
  color: white;
  border: 1px solid white;
}
